In [50]:
import pandas as pd
import numpy as np
import datetime
import os


def assign_lap(df):
    df['LAP'] = 1
    cols = ['NO', 'GAP', 'TIME', 'LAP']
    drivers = df[0].unique()
    data = df.values
    for driver in drivers:
        data[data[:,0] == driver, 3] = data[data[:,0] == driver, 3].cumsum()
    return pd.DataFrame(data=data, columns=cols)

def get_strategies(df):
    arr = df.values
    all_strategies = []
    for row in arr:
        strategy = [row[0]]
        for item in row[1:]:
            try:
                tire, laps = item.split()
                laps = int(laps.replace('(', '').replace(')', ''))
                stint = []
                for i in xrange(laps):
                    stint.append(tire)
                strategy.extend(stint)
            except:
                pass
        all_strategies.append(strategy)
    df = pd.DataFrame(data=all_strategies)
    column_names = ['NAME']
    column_names.extend([i for i in xrange(1, df.shape[1])])
    df.columns = column_names
    df[['NO', 'LAP']] = df[['NO', 'LAP']].astype(int)
    merged = pd.merge(driver_list, df, on='NAME')
    return merged.drop(['NAME', 'DRIVER'], axis=1)

In [20]:
# Load driver list for particular season
driver_list = pd.read_csv('data/2016_drivers.csv')

In [70]:
# Load lap times for all drivers
df = pd.read_csv('data/2015_12_italy/tabula-2015_12_lap_history.csv', header=None)
df = assign_lap(df)
df.sort_values(by=['NO', 'LAP'], inplace=True)
df[df['NO'] == 44]

     NO    GAP      TIME LAP
0    44      0  1:29.689   1
20   44      0  1:28.033   2
38   44      0  1:28.351   3
56   44      0  1:28.542   4
74   44      0  1:28.065   5
92   44      0  1:27.804   6
110  44      0  1:27.780   7
128  44      0  1:27.975   8
146  44      0  1:27.859   9
164  44      0  1:28.041  10
182  44      0  1:28.100  11
200  44      0  1:28.173  12
218  44      0  1:28.115  13
236  44      0  1:28.123  14
254  44      0  1:28.501  15
272  44      0  1:28.519  16
290  44      0  1:28.239  17
307  44      0  1:28.317  18
325  44      0  1:28.144  19
342  44      0  1:28.308  20
359  44      0  1:28.375  21
377  44      0  1:28.454  22
395  44      0  1:28.130  23
412  44      0  1:28.122  24
429  44      0  1:28.177  25
447  44  PIT    1:32.707  26
467  44      0  1:48.051  27
484  44      0  1:27.796  28
502  44      0  1:27.628  29
519  44      0  1:27.679  30
537  44      0  1:27.544  31
554  44      0  1:27.690  32
572  44      0  1:27.650  33
590  44      0  1:27.349  34
607  44      0  1:27.125  35
625  44      0  1:26.890  36
643  44      0  1:27.885  37
660  44      0  1:27.410  38
677  44      0  1:27.555  39
695  44      0  1:27.560  40
713  44      0  1:27.578  41
731  44      0  1:27.477  42
749  44      0  1:27.620  43
767  44      0  1:27.582  44
785  44      0  1:27.593  45
803  44      0  1:27.432  46
820  44      0  1:27.233  47
838  44      0  1:26.672  48
855  44      0  1:27.036  49
872  44      0  1:26.985  50
889  44      0  1:27.050  51
904  44      0  1:28.493  52
919  44      0  1:27.482  53

In [53]:
# df.NO.unique()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1062 entries, 15 to 1056
Data columns (total 4 columns):
NO      1062 non-null object
GAP     1062 non-null object
TIME    1062 non-null object
LAP     1062 non-null object
dtypes: object(4)
memory usage: 41.5+ KB

In [39]:
# Convert lap time to seconds
df['TIME'] = df['TIME'].apply(lambda x: x.strip())
df['TIME'] = df['TIME'].apply(lambda x: datetime.datetime.strptime(x,'%M:%S.%f'))
df['timedelta'] = df.TIME - datetime.datetime.strptime('00:00.0','%M:%S.%f')
df['secs'] = df['timedelta'].apply(lambda x: x / np.timedelta64(1, 's'))
df.head()

   NO      GAP                    TIME LAP       timedelta     secs
9   3   7.370  1900-01-01 00:01:43.028   1 00:01:43.028000  103.028
30  3  10.977  1900-01-01 00:01:35.920   2 00:01:35.920000   95.920
50  3  14.299  1900-01-01 00:01:35.077   3 00:01:35.077000   95.077
69  3  16.993  1900-01-01 00:01:34.721   4 00:01:34.721000   94.721
89  3  19.625  1900-01-01 00:01:34.540   5 00:01:34.540000   94.540

In [ ]:
# # Load Tire strategy data
# tire_data = pd.read_csv('data/2016_1_austrailia/2016_1_tires.csv')
# tire_strat = get_strategies(tire_data)

In [ ]:
# tire_strat.head()

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1012 entries, 14 to 1008
Data columns (total 4 columns):
NO      1012 non-null object
GAP     1012 non-null object
TIME    1011 non-null object
LAP     1012 non-null object
dtypes: object(4)
memory usage: 39.5+ KB